.navbar {
    background: #0d47a1;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background: #0d47a1;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    list-style-type: none;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background: #555;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover {
    background-color: #1a83ff;
    color: white;
}

.nav-button {
    background-color: #1a83ff;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}


.nav-button:hover {
    background-color: white;
    color: #1a83ff;
    border: 2px solid #1a83ff;
}

.nav-button:focus {
    outline: none;
}


/* ...rest of your CSS... */

.username-display {
    color: #00f; /* Or whatever color you want */
}

.logout-button {
    /* Here you can define the style for your logout button */
}
